{
  acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

translate.limping-robot-labs.xyz {
  root * /usr/share/caddy
  file_server

  @api path /login* /health*
  reverse_proxy @api backend:5000

  @ws path /ws*
  reverse_proxy @ws backend:5000
}
